/*------------------------Variables----------------------*/
/*-------------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-soft-blue: #8bacd9;
  --color-cyan: #00fff8;
  --color-background: #0d192c;
  --color-card-background: #15263f;
  --color-line: #2e405a;
}
